<h1>Drones and D3</h1>

<p>
  The SVG below contains a marker for every recorded drone strike performed by the United States. Data is collected from <a href="http://dronestre.am/">Dronestre.am</a>.
</p>

{{strike-visual data=model.strike}}

<p>Created by Kyle Shevlin. Follow me at <a href="https://twitter.com/kyleshevlin">@kyleshevlin</a>.</p>
